body {
  font-family: "Zalando Sans Expanded", sans-serif;
  margin: 0;
  background-color: rgb(66, 59, 59);
}
/*body beállítása*/
a {
  text-decoration: none;
}
/*linkek alap beállítása*/
#main-header {
  height: 5rem;
  background-color: rgb(27, 26, 26);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1.25rem;
}
/*header elrendezés*/
#logo {
  font-size: 2.25rem;
  font-weight: bold;
  color: rgb(255, 166, 0);
}
/*logo beállítása*/
#main-header ul {
  list-style: none;
  display: flex;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
}
/*header lista beállítása*/
#main-header li {
  margin: 0 1.25rem;
}
/*header linkek beállítása*/
#main-header nav a {
  color: rgb(255, 0, 0);
  font-size: 1.25rem;
}
/*header linkek szín beállítása*/
#main-header nav a:hover {
  color: rgb(255, 166, 0);
}

/*eddig tartott a header beállítása (+body)*/

main h1 {
  text-align: center;
  color: rgb(255, 153, 0);
  font-size: 3rem;
  padding: 1.25rem;
}
/*h1 beállítása*/
main p {
  color: rgb(168, 164, 164);
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  width: 80%;
  margin: auto;
}
/*p beállítása*/
#main-content {
  width: 80%;
  margin: 3.125rem auto;
}
/*section elrendezés középre beállítása*/
#main-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}
/*ul lista grid elrendezése*/
.food-item img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}
/*képek beállítása*/

.food-item {
  background-color: rgb(233, 202, 118);
  border-radius: 6px;
  overflow: hidden;
}
/*ablakok formázása*/
.food-item-content {
  padding: 0px 1rem 1.25rem 1rem;
  text-align: center;
}

.btn {
  background-color: rgb(255, 153, 0);
  color: white;
  border-radius: 6px;
  padding: 0.625rem 1.25rem;
}
/*gomb alap beállítása*/
.btn:hover {
  background-color: rgb(255, 60, 0);
}

@media (max-width: 48rem) {

#main-header nav{
  display: none;
}

  main h1 {
    font-size: 1.5rem;
  }

  #main-content ul {
    grid-template-columns: 100%;
  }
}
/*reszponzív beállítások mobil eszközökre, @media (max-width: 768px) töréspont meghatározása, tehát hogy hány pixeltől módosuljon az elrendezés. Ez most a ul-re adta meg */
